.mainContainer {
  background-color: #145374;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 3rem;
}
@keyframes flying {
  0% {
    margin-top: 5.5rem;
    box-shadow: 15px 15px;
  }
  25% {
    margin-top: 4.5rem;
    box-shadow: 19px 19px;
  }
  50% {
    margin-top: 5.5rem;
    box-shadow: 13px 13px;
  }
  75% {
    margin-top: 4.5rem;
    box-shadow: 21px 21px;
  }
  100% {
    margin-top: 5.5rem;
    box-shadow: 15px 15px;
  }
}

.designContainer {
  display: flex;
  max-width: 50rem;
  max-height: 20rem;
  margin: 5rem 12rem;
  border-style: solid;
  border-width: 20px;
  border-radius: 6px;
  border-color: #ee6f57;
  background-color: #00334e;
  box-shadow: 10px 10px;
  padding: 20px;
  animation: flying;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.designContainer:hover {
  animation: none;
}



@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
.content {
  color: #f6f5f5;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  overflow: scroll;
  font-family: "Inconsolata", monospace;
  width: 94%;
  height: 40vh;
  overflow-x: hidden;

}
.content::-webkit-scrollbar {
  width: 6px;
  margin-right: 20px;             /* width of the entire scrollbar */
}

/* .content::-webkit-scrollbar-track {
         color of the tracking area
} */

.content::-webkit-scrollbar-thumb {
  background-color: #333333;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0.3);  /* creates padding around scroll thumb */
}
@keyframes blinking1 {
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
.cursor-blink-1 {
  width: 10px;
  height: 25px;
  background-color: white;
  animation: blinking1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: auto;
  margin-right: auto;
}
