* {
  margin: 0px;
  padding: 0px;
}

.navbar-container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 80px;
  background-color: #333333;
  padding: 15px 0px 15px 5px;
  z-index: 2;
}
.image-container {
  min-width:330px;
  max-width: 350px;
  min-height: 43px;
  max-height: 48px;
  width: 28%;

  padding: 0;
  margin: 0;
  display: inline-block;

  position: relative;
  background-image: url("../../assets/img/dsc_iiitk_logo_white.png");
  background-position: center;
  background-size: 100% 100%;

}



.links-container {
  display: inline;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  height: 6vh;
  margin-right: 2%;
}
.link,
.signin {
  display: inline;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  top: 28%;
  padding: 1vh;
  padding-bottom: 3.1vh;
  color: white;
}

.link:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4285f4;
  cursor: pointer;
  color: #4285f4;
}

.signin {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-bottom: 1vh;
  border-radius: 5px;
}

.accountIcon {
  display: inline;
  position: relative;

  top: 23%;
  height: 3vh;
  margin-left: 20px;

  width: 200px;
}
.accountImg {
  height: 4vh;


}

.accountImg:hover {
  border-color: #f4b400;
  cursor: pointer;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.signin:hover {
  border-color: #f4b400;
  cursor: pointer;
  color: #f4b400;
}
.signin p:hover {
  color: #f4b400;
  cursor: pointer;
}

.ham {
  width: 70px;
  fill: white;
  margin: 10px;
  margin-right: 15px;
}
