:root {
  font-size: 19px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 500ms;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  width: 3rem;
  height: 100vh;
  transition: width 500ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  align-items: center;
  color: var(--text-primary);
  display: flex;
  filter: grayscale(100%) opacity(0.7);
  height: 3rem;
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link>svg {
  color: rgb(82, 64, 185);
  margin: 0 0.35rem;
}

.nav-link>span {
  display: none;
  margin-left: 1.3rem;
  visibility: hidden;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.navbar:hover {
  width: 10rem
}

.navbar:hover .nav-link>span {
  animation: show 0s 150ms forwards;
  display: block;
}

@keyframes show {
  to {
    visibility: visible;
  }

  ;
}
