
.EventsCardContainer {
  margin-top: 15vh;
  position: relative;
  margin-left: 15%;
  width: 250px;
  height: 50vh;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px;
  margin-bottom: 20px;

  transition-duration: 0.2s;
  transition-timing-function: linear;

}



.EventsCardImageContainer,
.EventsCardImage {
  position: absolute;
  width: 100%;
  height: 20vh;

}

.EventsCardContainer:hover{
  margin-top: 12vh;
  box-shadow: 15px 15px;

}




.EventsCardImage {
  padding-left: 3px;
}
.EventsCardTitle {
  position: absolute;

  color: white;
  width: 100%;
  height: 4vh;
  text-align: center;

  top: 20vh;
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
  color: #DB4437;
}
.EventsCardDate ,.EventsCardDiscription,.EventsCardRegister{
  position: absolute;

  color: white;
  width: 100%;
  text-align: center;
  font-family: "Inconsolata", monospace;


}
.EventsCardDate {

  top: 24vh;
  height: 4vh;
  color: #F4B400;
}
.EventsCardDiscription {

  top: 28vh;
  height: 17vh;
  overflow: scroll;
  padding: 0px 7px 0px 7px;
  overflow-x: hidden;
}
.EventsCardDiscription::-webkit-scrollbar {
  width: 12px;
  margin-right: 20px;             /* width of the entire scrollbar */
}

.EventsCardDiscription::-webkit-scrollbar-track {
         /* color of the tracking area */
}

.EventsCardDiscription::-webkit-scrollbar-thumb {
  background-color: red;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0.3);  /* creates padding around scroll thumb */
}

.EventsCardRegister {
  top: 45vh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  height: 4vh;
  cursor: pointer;
  color:#0F9D58;
  padding: 5px;
  width: 96%;
  margin-left: 2%;
}
.EventsCardRegister:hover{
  color:black;
  background-color:red;
}
.draw1-border::before,
.draw1-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw1-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-radius: 6px;
}

.draw1-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
    border-radius: 6px;
}



.draw1-border:hover::before,
.draw1-border:hover::after {
  border-color: red;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw1-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw1-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}
