
.container-middle{
  width : 100%;
  height : 100vh;
  margin: 0;
  padding: 0px;
  background-color: black;
  position: relative;
  z-index: -1;


}
.title{
  position: absolute;
  color : white;
  top:50%;
  left:50%;
  margin-left: -64px;

}
@keyframes blinking {
  0% {background-color: black;}
  10% {background-color : white;}
  20% {background-color: black;}
  30% {background-color : #DB4437;}
  40% {background-color: black;}
  50% {background-color : #0F9D58;}
  60% {background-color: black;}
  70% {background-color : #F4B400;}
  80% {background-color: black;}
  90% {background-color : #4285F4;}
  100% {background-color: black;}

}
.cursor-blink{

  width: 10px;
  height: 20px;
  position: absolute;
  bottom: 2%;
  right: 3%;
  background-color: white;
  animation: blinking;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}
