.topPadding{
  width: 100%;
  height: 100vh;
}

.aboutUsImageContainer{

  width: 100%;
  height: 100vh;
  background-color: #344557;
  position: sticky;
  top:80px;
  z-index: -1;

}
.aboutUsImage{
  width: 100%;
  height: 100vh;
  opacity: 0.5;

}

.aboutUsContentContainer{
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  position: sticky;
  top:80px;
  z-index: 0;

}
.aboutUsTitleContainer{
  position: absolute;
  top:40%;
  left:30%;
  color: #4285F4;
  font-size: 3rem;

}
.aboutUsContainer{
  position: absolute;
  width: 40%;
  color: white;
  top:35%;
  left: 45%;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  visibility: hidden;


}
@keyframes aboutVisibility {
  0% {transform-style: preserve-3d;
  transform: rotateX(90deg);}
  
  100% {transform-style: preserve-3d;
  transform: rotateX(0deg);}


}
.aboutUsContainer[scrollState='1']{
  position: absolute;
  visibility: visible;
  width: 40%;
  color: white;
  top:35%;
  left: 45%;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  background-color: black;
  opacity: 0.5;
  animation-name: aboutVisibility;
  animation-duration: 2s;
  animation-iteration-count: 1;


}
