.teamContainer {
  width: 100%;
  height: 80vh;
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
	 background-size: 22px 22px;
  position: relative;
  top: 100vh;
  padding-top: 80px;
}

.customCarousel{
  height :80vh;
  position: relative;
  z-index: 0;

}
