@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.subTitle {
  position: absolute;
  top: 0%;
  font-size: 5rem;
  margin-top: 0;
  padding-top: 0;
  color: white;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  text-align: left;

}
